.pagination {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-top: 8rem;
}

.pagination__item {
	margin: 0 0.5rem;
    box-shadow: 0 0 1rem rgba(#000, .15);
}
.pagination__link {
	display: block;
	width: 4rem;
	height: 4rem;

	background-color: #0d0d0d;
	border-radius: 3px;

	font-size: 1.4rem;
	font-weight: 400;
	line-height: 4rem;
	text-align: center;
    color: $title;
    transition: background-color .3s linear;
    &:hover{
        background-color: lighten(#0d0d0d, 10%);
    }
    &.active{
        background-color:$link;
        box-shadow: 0 0 1rem rgba($link, .15);

    }
}
