.post {
	margin-bottom: 3rem;
	padding: 2.5rem;
	box-shadow: 0 15px 25px rgba(#000, 0.35);
	background-color: $primery;
	border-radius: 5px;
}
.post__header {
	overflow: hidden;
	margin: 0 0 2.5rem 0;
	& > img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}
.post__header--preview {
	margin: -2.5rem -2.5rem 2.5rem -2.5rem;
}
.post__content {
	margin-bottom: 2rem;
}
.post__title {
	font-size: 18px;
	font-weight: 500;
	line-height: 3rem;
	text-align: left;
	color: $title;

	margin-bottom: 1.5rem;

	&--mb0 {
		margin-bottom: 0;
	}
}
.post__subtitle {
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 19px;
	text-align: left;

	margin-top: 3rem;
	margin-bottom: 2rem;
}
.post__description {
	font-size: 1.4rem;
	color: $text;
	line-height: 2.1rem;
}
.post__text {
	font-size: 1.4rem;
	line-height: 2.1rem;
	color: $white;
	border-bottom: solid 1px #1c1c1c;
	padding-bottom: 1rem;
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 2rem;
		font-weight: 700;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.25rem;
	}
	h4 {
		font-size: 1.15rem;
	}
	h5,
	h6 {
		font-size: 1rem;
	}
	ul,
	ol,
	table {
		margin-bottom: 2rem;
	}
	ol {
		list-style: decimal;
		list-style-position: inside;
	}
	table {
		width: 100%;
	}
	p {
		margin-bottom: 2rem;
	}
	a {
		color: $link;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
	.fr-video {
	}
}
.post__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	& > a {
		color: #107eff;
		display: inline-block;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 1.6rem;
	}
}
.post__data {
	display: flex;
	align-items: center;

	font-size: 1.2rem;
	font-weight: 400;
	color: $subtwxt;
	a {
		color: inherit;
	}
}
.post__data-item {
	&:not(:last-child):after {
		content: '';
		display: inline-block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #c4c4c4;
		margin: 0 1.5rem;
	}
}

.post__actions {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
	color: $white;

	a {
		color: inherit;
		opacity: 0.6;
		transition: opacity 0.3s linear;

		&:hover {
			opacity: 0.9;
		}
	}
	&--icon {
		margin-left: 0.5rem;
		vertical-align: middle;
	}
}
