.related {
	padding-bottom: 0.5rem;
	border-bottom: solid 1px #1c1c1c;
}

.related__list {
	display: flex;
	flex-wrap: wrap;
}
.related__list-item {
	flex: 0 1 50%;
	margin-bottom: 2.5rem;
}
.related__list-title {
	margin-bottom: 0.5rem;

	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.6rem;
	color: #f3eba2;

	// text-overflow: ellipsis;
	// overflow: hidden;
	// white-space: nowrap;
}
.related__list-date {
	font-size: 12px;
	font-weight: 400;
	text-align: left;
	color: #828282;
}
