.work {
	display: flex;
	margin-bottom: 3rem;
	box-shadow: 0 15px 25px rgba(#000, 0.35);
	background-color: $primery;
	border-radius: 5px;
	overflow: hidden;
}

.work__preview {
	flex: 0 1 52%;
	overflow: hidden;
	& > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.work__content {
	flex: 0 1 48%;
	padding: 2.8rem 2.5rem 2.5rem;
	display: flex;
	flex-direction: column;
}
.work__title {
	margin-bottom: 3rem;

	font-size: 2.4rem;
	font-weight: 500;
	color: $white;
}
.work_description {
	margin-bottom: 3rem;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.68;
    color: $text;
}

.btn {
	align-self: flex-end;
    margin-top: auto;
}

