$primery:    #202020;
$secondary:  #121212;
$white:      #fff;

//Текст
$title:      #fff;
$text:       #d2d2d2;
$subtwxt:    #828282;

$link-header:#3137c9;
$link:       #107EFF;

$sitebar-width: 300px;

